### Data Manipulation with Pandas

In [17]:
import pandas as pd

In [19]:
df = pd.read_csv('college_ranking.csv')
df.head

<bound method NDFrame.head of       world_rank                            institution         country  \
0              1                     Harvard University             USA
1              2  Massachusetts Institute of Technology             USA
2              3                    Stanford University             USA
3              4                University of Cambridge  United Kingdom
4              5     California Institute of Technology             USA
...          ...                                    ...             ...
2195         996              University of the Algarve        Portugal
2196         997                  Alexandria University           Egypt
2197         998            Federal University of Ceará          Brazil
2198         999                 University of A Coruña           Spain
2199        1000        China Pharmaceutical University           China

      national_rank  quality_of_education  alumni_employment  \
0                 1                     7                  9
1                 2                     9                 17
2                 3                    17                 11
3                 1                    10                 24
4                 4                     2                 29
...             ...                   ...                ...
2195              7                   367                567
2196              4                   236                566
2197             18                   367                549
2198             40                   367                567
2199             83                   367                567

      quality_of_faculty  publications  influence  citations  broad_impact  \
0                      1             1          1          1           NaN
1                      3            12          4          4           NaN
2                      5             4          2          2           NaN
3                      4            16         16         11           NaN
4                      7            37         22         22           NaN
...                  ...           ...        ...        ...           ...
2195                 218           926        845        812         969.0
2196                 218           997        908        645         981.0
2197                 218           830        823        812         975.0
2198                 218           886        974        812         975.0
2199                 218           861        991        812         981.0

      patents   score  year
0           5  100.00  2012
1           1   91.67  2012
2          15   89.50  2012
3          50   86.17  2012
4          18   85.21  2012
...       ...     ...   ...
2195      816   44.03  2015
2196      871   44.03  2015
2197      824   44.03  2015
2198      651   44.02  2015
2199      547   44.02  2015

[2200 rows x 14 columns]>

In [20]:
df.describe()

,world_rank,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2000.000000,2200.000000,2200.000000,2200.000000
mean,459.590909,40.278182,275.100455,357.116818,178.888182,459.908636,459.797727,413.417273,496.699500,433.346364,47.798395,2014.318182
std,304.320363,51.740870,121.935100,186.779252,64.050885,303.760352,303.331822,264.366549,286.919755,273.996525,7.760806,0.762130
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,43.360000,2012.000000
25%,175.750000,6.000000,175.750000,175.750000,175.750000,175.750000,175.750000,161.000000,250.500000,170.750000,44.460000,2014.000000
50%,450.500000,21.000000,355.000000,450.500000,210.000000,450.500000,450.500000,406.000000,496.000000,426.000000,45.100000,2014.000000
75%,725.250000,49.000000,367.000000,478.000000,218.000000,725.000000,725.250000,645.000000,741.000000,714.250000,47.545000,2015.000000
max,1000.000000,229.000000,367.000000,567.000000,218.000000,1000.000000,991.000000,812.000000,1000.000000,871.000000,100.000000,2015.000000

In [21]:
df.dtypes

world_rank                int64
institution              object
country                  object
national_rank             int64
quality_of_education      int64
alumni_employment         int64
quality_of_faculty        int64
publications              int64
influence                 int64
citations                 int64
broad_impact            float64
patents                   int64
score                   float64
year                      int64
dtype: object

In [22]:
# Finding missing values
df.isnull().sum()

world_rank                0
institution               0
country                   0
national_rank             0
quality_of_education      0
alumni_employment         0
quality_of_faculty        0
publications              0
influence                 0
citations                 0
broad_impact            200
patents                   0
score                     0
year                      0
dtype: int64

In [23]:
df.isnull().any()

world_rank              False
institution             False
country                 False
national_rank           False
quality_of_education    False
alumni_employment       False
quality_of_faculty      False
publications            False
influence               False
citations               False
broad_impact             True
patents                 False
score                   False
year                    False
dtype: bool

In [ ]:
# Filling missing values 
df_fill = df.fillna(0)  # NOT RECOMMENDED

In [34]:
# Filling missing values with the mean of the column
df['broad_impact_filled'] = df['broad_impact'].fillna(df['broad_impact'].mean) 
df.isnull().sum()

world_rank                0
institution               0
country                   0
national_rank             0
quality_of_education      0
alumni_employment         0
quality_of_faculty        0
publications              0
influence                 0
citations                 0
broad_impact            200
patents                   0
score                     0
year                      0
broad_impact_filled       0
dtype: int64

In [40]:
# renaming columns
df = df.rename(columns = {'world_rank':'world_ranking'})
df

,world_ranking,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,broad_impact_filled
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012,<bound method Series.mean of 0 NaN\n1 ...
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012,<bound method Series.mean of 0 NaN\n1 ...
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012,<bound method Series.mean of 0 NaN\n1 ...
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012,<bound method Series.mean of 0 NaN\n1 ...
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012,<bound method Series.mean of 0 NaN\n1 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015,969.0
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015,981.0
2197,998,Federal University of Ceará,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015,975.0
2198,999,University of A Coruña,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015,975.0
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015,981.0